@import "../../styles/variaveis";

.header{
    background-color: $terciaryColor;
    .wrap{
        width: 100%;
        max-width: $wrap;
        margin: $wrap-margin;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        .logo{
            font-size: 0px;
            cursor: pointer;
            &:before{
                content: "";
                display: inline-block;
                background-image: $logo;
                height: 100px;
                width: 200px;
                
            }
        }
        .menu{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .menuItem{
            padding: 20px ;
            color: $secondaryColor ;
            display: flex;
            align-items: center;
            justify-content: center;
            &:before{
                content: "";
                display: inline-block;
                background-color: $primaryColor;
                height: 7px;
                width: 7px;
                margin-right: 3px;
            }
        }
        .form{
            border-radius: 5px;
            background-color: $terciaryColor;
            border: 1px solid $secondaryColor;
            display: flex;
            justify-content: center;
            align-items: center;
            .input{
                border: none;
                background-color: $terciaryColor;
                &:focus {    
                    box-shadow: 0 0 0 0;
                    outline: 0;
                }
            }
            .select{
                border: none;
            }
            .button{
                border: 1px solid #fff;
                background-color: $secondaryColor;
                border-radius: 5px;
            }
        }
    }
}

